@model Backend.Models.User;

<h2>Register</h2>
<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    @* <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" />
    </div>
    <div>
        <label asp-for="Avatar"></label>
        <input asp-for="Avatar" type="text" />
    </div> *@
    <button type="submit">Register</button>
</form>
